^{:watch-dirs ["test" "src"]
  :open-url false
  :auto-testing true}
{:main "martian.test"
 :output-to "target/public/martian-test.js"
 :preloads [devtools.preload]
 :external-config {:devtools/config {:features-to-install    [:formatters :hints]
                                     :fn-symbol              "F"
                                     :print-config-overrides true}}}
