**/pom.xml
**/pom.xml.asc
**/*jar
/lib/
/**/classes/
/**/target/
/**/checkouts/
**/.lein-deps-sum
**/.lein-repl-history
**/.lein-plugins/
**/.lein-failures
**/.nrepl-port
**/.cljs_rhino_repl/
**/.cljs_nashorn_repl/
**/nashorn_code_cache/
/**/out/