version: 2
jobs:
  build:
    docker:
      - image: circleci/clojure:lein-2.9.0-browsers
    steps:
      - run: which java
      - run: lein --version

      - checkout

      # Validate docs/cljdoc.edn
      - run: curl -fsSL https://raw.githubusercontent.com/cljdoc/cljdoc/master/script/verify-cljdoc-edn | bash -s docs/cljdoc.edn

      - run: lein test
