^{
  ;; use an alternative landing page for the tests so that we don't
  ;; launch the application
  :open-url "http://[[server-hostname]]:[[server-port]]/test.html"
  :launch-js ["/opt/google/chrome/google-chrome" "--headless" "--disable-dev-shm" "--disable-gpu" "--remote-debugging-port=9222" "--repl" :open-url]}
{:main martian.test-runner

 ;; React is now stripped of `reagent`, which comes with `re-frame`
 :npm-deps {"react" "18.3.1"
            "react-dom" "18.3.1"}
 :install-deps true}
